@import "tailwindcss";
@plugin "daisyui" {
  themes: black --default, light;
}
@plugin "daisyui/theme" {
  name: "black";
  default: true;
  --color-primary: rgb(29, 155, 240);
  --color-secondary: rgb(24, 24, 24);
}
@plugin "daisyui/theme" {
  name: "light";
  --color-primary: rgb(29, 155, 240);
  --color-secondary: rgb(24, 24, 24);
}
